# -------------------------
# IGNORE EVERYTHING
# -------------------------
*

# -------------------------
# ALLOW CORE META FILES
# -------------------------
!.gitignore
!README.md

# -------------------------
# ALLOW ONLY TEMPLATE SRC
# -------------------------
!proj/
!proj/proj_template/
!proj/proj_template/src/
!proj/proj_template/src/**
